<div
  class="d-flex flex-column vh-100 p-3 text-white bg-primary"
  style="width:240px; position:fixed; left:0; top:0;"
>
  <a
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    routerLink="/admin"
  >
    <span class="fs-5 fw-bold">SmartHub</span>
  </a>

  <hr class="text-white">

  <ul class="nav nav-pills flex-column mb-auto gap-1">
    <li class="nav-item">
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link text-white">
        Trang quản trị
      </a>
    </li>

    <li>
      <a routerLink="/admin/users" routerLinkActive="active" class="nav-link text-white">
        Quản lý tài khoản
      </a>
    </li>

    <li>
      <a routerLink="/admin/categories" routerLinkActive="active" class="nav-link text-white">
        Quản lý danh mục
      </a>
    </li>

    <li>
      <a routerLink="/admin/products" routerLinkActive="active" class="nav-link text-white">
        Quản lý sản phẩm
      </a>
    </li>

    <li>
      <a routerLink="/admin/inventories" routerLinkActive="active" class="nav-link text-white">
        Quản lý kho
      </a>
    </li>

    <li>
      <a routerLink="/admin/orders" routerLinkActive="active" class="nav-link text-white">
        Quản lý đơn hàng
      </a>
    </li>
  </ul>

  <hr class="text-white">

  <button (click)="logout()" class="btn btn-danger">
    Đăng xuất
  </button>
</div>
